.owner-edit-container {
    max-width: 1230px;
    margin: 0 auto 10px;
    padding: 0 40px;
}

.owner-edit__title {
    text-align: center;
    font-size: 2.0rem;
}

.owner-edit__name {
    text-align: center;
    font-size: 1.7rem;
}

.owner-edit-form__list {
    width: 70%;
    background-color: #4d7fff;
    margin: 0 auto;
    border-radius: 4px;
}

.owner-edit-form__list-layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.owner-edit-form__list-term {
    font-size: 1.5rem;
    color: #fff;
}

.owner-edit-form__list-description {
    width: 60%;
}

.owner-edit-form__list-description-input,
.owner-edit-form__list-description-textarea,
.owner-edit-form__list-description-select {
    width: 80%;
    margin-bottom: 10px;
    border: none;
}

.owner-edit-form__list-description-textarea {
    resize: none;
    height: 50px;
}

.owner-edit-form__button {
    text-align: center;
    margin-top: 10px;
}

.owner-edit-form__button-submit {
    background-color: #4d7fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.owner-edit-form__button-submit:hover {
    background-color: #fff;
    color: #4d7fff;
}

.form__error {
    width: 100%;
    font-size: 1.2rem;
    color: #ff0000;
    text-align: center;
}

.owner-edit-form__button-back {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #ff0000;
    padding: 6px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.owner-edit-form__button-back:hover {
    background-color: #fff;
    color: #ff0000;
}

/* タブレット用ブレイクポイント */
@media screen and (max-width: 768px) {
    .owner-edit-form__list {
        width: 90%;
    }
}

/* スマートフォン用ブレイクポイント */
@media screen and (max-width: 480px) {
    .owner-edit-form__list-layout {
        display: block;
    }

    .owner-edit-form__list-term {
        text-align: center;
    }

    .owner-edit-form__list-description {
        margin: 10px auto;
        width: 90%;
    }

    .owner-edit-form__list-description-input,
    .owner-edit-form__list-description-textarea,
    .owner-edit-form__list-description-select {
        width: 100%;
    }
}